{# Jinja2 version of body.html #}
{% extends "ace_common/edx_ace/common/base_body.html" %}

{% block content %}
  <p>
    Welcome to {{ site_name }}!
  </p>
  <p>
    Please activate your account by clicking the button below:
  </p>
  <p>
    <a href="{{ activation_link }}" 
       style="background-color:#0077CC;color:#ffffff;padding:10px 20px;
              text-decoration:none;border-radius:5px;">
      Activate Account
    </a>
  </p>
  <p>
    If the button doesn’t work, copy and paste this link into your browser:<br>
    {{ activation_link }}
  </p>
{% endblock %}
