<%page expression_filter="h" args="online_help_token" />
<%!
from django.conf import settings
from django.utils.translation import gettext as _
%>
<%namespace file="sock_links.html" import="get_sock_links" />

<div class="wrapper-sock wrapper">
  <ul class="list-actions list-cta">
    <li class="action-item">
      <a href="#sock" class="cta cta-show-sock"><span class="icon fa fa-question-circle" aria-hidden="true"></span>
        <span class="copy-show is-shown">${_("...Looking for help with {studio_name}?").format(studio_name=settings.STUDIO_SHORT_NAME)}</span>
        <span class="copy-hide is-hidden">${_("...Hide {studio_name} Help").format(studio_name=settings.STUDIO_SHORT_NAME)}</span>
      </a>
    </li>
  </ul>

  <div class="wrapper-inner wrapper">
    <section class="sock" id="sock" aria-labelledby="sock-heading">
      <div class="support">
        <ul class="list-actions">
          <li class="action-item">
            <a href="#" title="This is Help 1" rel="external" class="action action-primary">Help 1</a>
            <span class="tip">This is Help 1</span>
          </li>
          <li class="action-item">
            <a href="#" title="This is Help 2" rel="external" class="action action-primary">Help 2</a>
            <span class="tip">This is Help 2</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
